@import "../../../scss/vars";
@import "../../../scss/mixins";

.cooperation {
    &__title {
        margin-bottom: 65px;
    }

    &__wrap {
        max-width: 555px;
    }

    &__text {
        margin-bottom: 55px;
    }

    &__input {
        margin-bottom: 35px;
    }
}