@import "../../../scss/vars";
@import "../../../scss/mixins";

.header {
  position: relative;
  z-index: 1;
  padding: 31px 0 24px;
  background-color: $background;

  @include media($lg) {
    padding-bottom: 0;
  }

  @include media($sm) {
    padding: 15px 0;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    z-index: -1;
    width: 100%;
    height: 2px;
    background-image: linear-gradient($gradient-background);
    background-size: 200%;
    animation: animate 15s ease infinite;
  }
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media($lg) {
    flex-direction: column;
  }

  @include media($sm) {
    flex-direction: row;
  }

  &__items {
    display: flex;
    transition: transform 0.5s;

    @include media($sm) {
      position: absolute;
      left: 0;
      right: 0;
      top: 77px;
      bottom: 0;
      flex-direction: column;
      text-align: center;
      transform: translateX(-200%);
    }

    &.active {
      transform: translateX(0);
    }
  }

  &__item {
    @include media($sm) {
      background-color: rgba($all-ports, 0.95);
    }

    &:not(:last-child) {
      margin-right: 109px;

      @include media($xl) {
        margin-right: 35px;
      }

      @include media($sm) {
        margin-right: 0;
      }
    }
  }

  &__link {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid transparent;
    font-size: 18px;
    line-height: 1.2;
    text-transform: uppercase;
    color: $accent;
    transition: border-color 0.3s;

    @include media($md) {
      padding: 20px 0;
      font-size: 16px;
    }

    &:hover {
      border-color: $accent;

      @include media($md) {
        border-color: transparent;
      }

      @include media($md) {
        border-color: $accent;
      }
    }
  }

  &__button {
    display: none;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;

    @include media($sm) {
      display: block;
    }

    span {
      display: block;
      margin: 8px auto;
      width: 50px;
      height: 5px;
      background-color: #ecf0f1;
      transition: all 0.3s ease-in-out;
    }

    &.active {
      transform: rotate(45deg);
      transition: transform 0.3s ease-in-out;
      transition-delay: 0.6s;

      span:nth-child(2) {
        width: 0;
      }

      span:nth-child(1) {
        transform: translateY(13px);
      }

      span:nth-child(3) {
        transform: translateY(-13px) rotate(90deg);
      }

      span:nth-child(1),
      span:nth-child(3) {
        transition-delay: 0.3s;
      }
    }
  }
}

.logo {
  font-family: $graduate;
  font-size: 30px;
  line-height: 1.1;
  white-space: nowrap;
  color: $accent;

  @include media($lg) {
    margin-bottom: 15px;
  }

  @include media($sm) {
    margin-bottom: 0;
    font-size: 20px;
  }
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}
