.hexagon {
  min-height: 100vh;
  background-color: #000;

  &__container {
    position: relative;
    z-index: 2;
    height: 100vh;
    overflow: hidden;
  }

  &__row {
    display: inline-flex;
    margin-top: -32px;
    margin-left: -50px;

    &:nth-child(even) {
      margin-left: 1px;
    }
  }

  &__block {
    position: relative;
    margin: 1px 2px;
    width: 100px;
    height: 110px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background-color: #111;
    transition: background-color 2s;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      z-index: 100;
      width: 50%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.02);
      pointer-events: none;
    }
  }

  &__cursor {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: #0f0;
    transform: translate(-50%, -50%);
    animation: animate 4s linear infinite;
  }
}

@keyframes animate {
  0% {
    filter: hue-rotate(0) blur(50px);
  }

  100% {
    filter: hue-rotate(360deg) blur(50px);
  }
}