$background: #201f24;
$accent: #eccff6;
$title: #cf89e7;
$pre-title: #b960d9;
$button: #d09be2;
$text-dark: #444;
$text-hint: #787878;
$text-footnote: #ccc;
$white: #fff;

// gradient
$bright-red: #9d253b;
$bahia: #a7b21f;
$eucalyptus: #35925a;
$all-ports: #286884;
$royal-purple: #6a2296;
$kobi: #e39eab;
$primrose: #e1e88f;
$vista-blue: #89e7af;
$anakiwa: #90d1ed;
$wisteria: #c996e9;

// gradient background
$gradient-background:
    270deg,
    $bright-red,
    $bahia,
    $eucalyptus,
    $all-ports,
    $royal-purple,
    $royal-purple,
    $all-ports,
    $eucalyptus,
    $bahia,
    $bright-red;

// fonts
$graduate: "Graduate", cursive;
$open-sans: "Open Sans", sans-serif;
$montserrat: "Montserrat", sans-serif;