@import "../../../scss/vars";
@import "../../../scss/mixins";

.modal-work {
  margin-bottom: 22px;

  @include media($sm) {
    margin-bottom: 0;
  }

  &__inner {
    text-align: right;
  }

  &__button {
    border: none;
    font-size: 24px;
    color: $accent;
    background-color: transparent;

    @include media($sm) {
      padding: 0;
      font-size: 15px;
    }

    &:hover {
      text-decoration-line: underline;
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -21px;
  }

  &__item {
    margin: 0 21px 42px;
    width: calc(100% / 4 - 42px);
    transition: transform 0.3s;

    @include media($lg) {
      width: calc(100% / 3 - 42px);
    }

    @include media($md) {
      margin: 0 16px 24px;
      width: calc(100% / 2 - 32px);
    }

    @include media($sm) {
      margin: 0 8px 16px;
      width: calc(100% / 2 - 16px);
    }

    &:hover {
      transform: translateY(-5px);
    }
  }

  &__preview {
    object-fit: cover;
  }
}
